@import url('https://fonts.googleapis.com/css?family=Exo:800')

.preloader
	left: 0px
	top: 0px
	width: 100%
	height: 100%
	z-index: 9999
	background: url('../img/preloader.gif') center no-repeat #fff

#pre-main
	position: fixed


#sidebar
	top: 60px